*{
  margin: 0;
  background-color: #545454;
}

body{
  background-color: #545454; 
}

.news{
  border-left: solid green 5px;
  background-color: #3ec964;
  text-align: left;
  justify-items: left;
  width: 400px;
  font-family: Verdana;
}

.titlebar{
 border: solid #3ec964 5px;
  background-color: #3ec964;
  text-align: center;
  justify-items: center;
  font-family: Verdana;
}


.frontWelcome{
  color: black;
  flex-direction: column;
  display: flex;
  justify-items: center;
  text-align: center;
  border: solid #3ec964 5px;
  background-color: #3ec964;
  font-family: Verdana;
}

.software{
    border-left: solid green 5px;
  background-color: #3ec964;
  text-align: left;
  justify-items: left;
  width: 400px;
  font-family: Verdana;
}
